body {
  background-image:url("../public/img/bg-img.png");
  background-repeat: no-repeat;
  background-size: 100vh 50vw;
  background:cover;
  margin: 0;
  font-family:roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border: 50px solid rgb(0, 0, 0); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
